<div class="container mat-elevation-z8">
  <div gdRows="28px 72px" class="header">
    <div fxLayoutAlign="start end" class="title mat-caption">
      入場時間
    </div>
    <div gdColumns="auto 40px">
      <div
        fxLayoutAlign="start end"
        class="inputed-time mat-display-2"
        fxLayout="row"
        fxLayoutGap="4px"
      >
        <div>
          {{ hour | number: '2.0' }}
        </div>
        <div class="time-divider">:</div>
        <div
          [class.input-target]="inputTarget === 'munite'"
          (click)="changeTarget('munite')"
        >
          {{ munite === undefined ? 'MM' : (munite | number: '2.0') }}
        </div>
      </div>
      <div fxLayoutAlign="start end">
        <button mat-icon-button (click)="clearTime()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="number-pad-area">
    <div class="hour-picker">
      <label class="unit-label mat-subheading-1">hour</label>
      <div class="input-hour-area">
        <div class="select-ampm-area"></div>
        <div class="number-pad-area"></div>
      </div>
    </div>
    <div class="minute-picker">
      <label class="unit-label mat-subheading-1">minute</label>
      <div class="input-minute-area"></div>
    </div>
  </div>

  <div
    class="button-area"
    fxLayout="row"
    fxLayoutGap="8px"
    fxLayoutAlign="end center"
  >
    <button mat-button>CANCEL</button>
    <button mat-button>OK</button>
  </div>
</div>
