@import '../../theme/theme.scss';

$left-and-right-padding: 16px;

:host {
  width: calc(100vw - #{$left-and-right-padding * 2});
  max-width: 328px;
  background-color: #fff;
  border-radius: 4px;
}

.header {
  height: 120px;
  background-color: $primary;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: {
    top: 0;
    bottom: 20px;
    right: 24px;
    left: 24px;
  }
}

.title {
  line-height: 1;
}

.time-divider {
  transform: translateY(-3px);
}

.mat-display-2 {
  margin: 0;
  line-height: 1;
}

.unit-label {
  display: block;
  padding: {
    top: 16px;
    left: 12px;
    bottom: 0px;
    right: 12px;
  }
}


.mat-subheading-1 {
  margin: 0;
}

.input-area {
  padding: 0 12px;
}

.select-ampm-area {
  padding-bottom: 8px;
}

.select-ampm {
  width: 72px;
  height: 36px;

  &.selected {
    background-color: $primary;
    border-radius: 18px;
  }
}

.number-pad {
  &.selected {
    background-color: $primary;
    border-radius: 50%;
  }
}

.input-minute-container {
  height: 52px;
  align-items: center;
}

.input-minute-area {
  overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.minute-pad {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 0.8em;
  flex-shrink: 0;

  &::-webkit-scrollbar {
    display:none;
  }

  &.convinient {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    font-size: 1.2em;
  }
  
  &.selected {
    background-color: $primary;
  }
}


.button-area {
  height: 52px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px;
  color: $primary-darker;
}
