<div class="container mat-elevation-z8">
  <div gdRows="28px 72px" class="header">
    <div fxLayoutAlign="start end" class="title mat-caption">
      入場時間
    </div>
    <div gdColumns="auto 40px">
      <div
        fxLayoutAlign="start end"
        class="inputed-time mat-display-2"
        fxLayout="row"
        fxLayoutGap="4px"
      >
        <div>
          {{ selectedHour | number: '2.0' }}
        </div>
        <div class="time-divider">:</div>
        <div
          [class.input-target]="inputTarget === 'minute'"
          (click)="changeTarget('minute')"
        >
          {{ selectedMinute | number: '2.0' }}
        </div>
      </div>
    </div>
  </div>

  <div class="input-area">
    <div class="hour-picker">
      <label class="unit-label mat-subheading-1">Hour</label>
      <div class="input-hour-area">
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="16px"
          class="select-ampm-area"
        >
          <div
            fxLayoutAlign="center center"
            class="select-ampm"
            [class.selected]="selectedAmPm === 'AM'"
            (click)="selectAmPm('AM')"
          >
            AM
          </div>
          <div
            fxLayoutAlign="center center"
            class="select-ampm"
            [class.selected]="selectedAmPm === 'PM'"
            (click)="selectAmPm('PM')"
          >
            PM
          </div>
        </div>
        <div
          class="number-pad-area"
          gdColumns="repeat(6, 1fr)"
          gdRows="repeat(2, 48px)"
          gdGap="0px 4px"
        >
          <div
            *ngFor="let hour of hours[selectedAmPm]"
            fxLayoutAlign="center center"
            class="number-pad"
            [class.selected]="hour === selectedHour"
            (click)="selectHour(hour)"
          >
            {{ hour }}
          </div>
        </div>
      </div>
    </div>
    <div class="minute-picker">
      <label class="unit-label mat-subheading-1">Minute</label>
      <div gdColumns="24px auto 24px" class="input-minute-container">
        <div fxLayoutAlign="center center">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
        <div
          class="input-minute-area"
          fxLayout="row"
          fxLayoutAlign="start center"
          #minuteSlider
        >
          <div class="slider-spacer"></div>
          <div
            *ngFor="let minute of minutes"
            fxLayoutAlign="center center"
            class="minute-pad"
            [class.selected]="minute === selectedMinute"
            [class.convinient]="minute % 5 === 0"
            (click)="selectMinute(minute)"
          >
            {{ minute | number: '2.0' }}
          </div>
          <div class="slider-spacer-right"></div>
        </div>
        <div fxLayoutAlign="center center">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div
    class="button-area"
    fxLayout="row"
    fxLayoutGap="8px"
    fxLayoutAlign="end center"
  >
    <button mat-button>CANCEL</button>
    <button mat-button>OK</button>
  </div>
</div>
