@import '../../theme/theme.scss';

$header-height: (
  mobile: 56px,
  desktop: 64px,
);

$host-height: calc(100vw - #{map-get($header-height, mobile)});

.result-area {
  display: block;
  width: 100vw;
  height: $host-height;
  background-color: $primary;
}

.circle {
  width: calc(#{$host-height} * 0.9);
  height: calc(#{$host-height} * 0.9);
  border-radius: 50%;
  border: dotted 6px #fff;
  padding-top: 24px;
}

.times {
  position: relative;
  transform: translateX(12px);
}

.course-icon {
  position: absolute;
  left: -32px;
  top: 3px;
  color: #fff;
}

.charge {
  position: relative;

  &::after {
    content: '円';
    font-size: 0.4em;
    position: absolute;
    bottom: -8px;
  }
}

.mat-display-3 {
  margin: 0;
  transform: translateX(-0.2em) scale(1.3);
}

.coins {
  transform: translateX(6px);
}

.coin-icon {
  transform: scale(1.3);
  color: #fff;
}

.or-label {
  font-size: 0.5em;
}

.mat-display-1 {
  margin: 0;
}
